name: Publish MkDocs site
on:
  push:
    branches: [ main ]
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - run: pip install mkdocs
      - run: mkdocs build
      - uses: peaceiris/actions-gh-pages@v4
        with:
          publish_dir: site
          cname: aiml.engineer
          github_token: ${{ secrets.GITHUB_TOKEN }}
